repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: sort-simple-yaml
      - id: debug-statements
      - id: trailing-whitespace
      - id: requirements-txt-fixer

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.12.1
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-mkdocs==4.0.0
          - mdformat-footnote==0.1.1
